body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Cormorant Infant', serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000; }

.author-intro {
  background-color: #ddc1ae;
  color: #000;
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-items: center; }
  .author-intro__info {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    margin: auto 40px;
    font-size: 20px; }
  .author-intro__img {
    height: 450px;
    width: auto; }

.author-name {
  font-size: 120px;
  line-height: 121px;
  margin: 0;
  padding-top: 80px; }

.author-profession {
  font-size: 60px;
  line-height: 62px;
  margin: 0px;
  padding-bottom: 80px; }

.countries-navigation {
  padding: 0px 30px; }
  .countries-navigation__list {
    display: flex;
    flex-wrap: wrap; }

.country-item {
  padding: 20px; }
  .country-item__img {
    height: 50px;
    width: auto;
    padding-right: 5px; }

.countries-navigation {
  padding: 0px 30px; }
  .countries-navigation__list {
    display: flex;
    flex-wrap: wrap; }

.full-content {
  height: 100%;
  display: flex;
  flex-direction: column; }

.hide {
  display: none; }

.list-item__link {
  text-decoration: none;
  color: #000; }

.list_without-points {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.main-header {
  margin: 0;
  padding: 0; }
  .main-header__info {
    font-family: "Arizonia", Arial, sans-serif;
    text-align: center;
    background-image: url("../img/mountings.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }

.main-container {
  flex-grow: 1; }

.main-footer {
  height: 60px;
  background-color: #000; }
  .main-footer__list {
    width: 110px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between; }

.main-navigation {
  background-color: #000000;
  color: #ffffff;
  text-align: center; }
  .main-navigation__list {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    align-items: center; }

.navigation-item {
  padding-top: 15px;
  padding-bottom: 15px; }

.navigation-link {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.navigation-link:hover {
  text-shadow: 0 0 30px #ddc1ae;
  color: #ddc1ae; }

.section-title {
  font-size: 24px;
  line-height: 26px;
  text-align: center; }

.social-img {
  height: 30px;
  width: auto; }
